wabot/v3(2).txt
{
  "name": "KoderKids WhatsApp Bot v3 (WAHA + Buttons + CRM)",
  "nodes": [
    {
      "id": "wh_main",
      "name": "WAHA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        360
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "koder-kids-waha",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "koder-kids-waha-v3-webhook"
    },
    {
      "id": "parse_payload",
      "name": "Parse Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        360
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Parse the WAHA webhook payload into a flat shape used downstream.\n// Handles: text, button replies, list replies, group/self detection,\n//          HMAC signature verification, and per-message idempotency.\n// ------------------------------------------------------------------\nconst input = $input.first();\nconst raw = input.json;\nconst headers = input.headers || raw.headers || {};\nconst body = raw.body || raw;\nconst payload = body.payload || {};\nconst event = body.event || '';\nconst session = body.session || 'default';\n\n// ---------------- HMAC verification (item 3) -----------------------\n// To enable:\n//   1) Set WAHA_HMAC_SECRET below to a 32+ char random string.\n//   2) Set the SAME string in WAHA's webhook hmac.key.\n//   3) Allow the crypto built-in on n8n:\n//        NODE_FUNCTION_ALLOW_BUILTIN=crypto\n//      (Railway template default blocks it. With task runners enabled,\n//      also set: N8N_RUNNERS_ALLOW_BUILTIN_MODULES=crypto)\n// Leaving WAHA_HMAC_SECRET empty disables HMAC entirely (default).\nconst WAHA_HMAC_SECRET = '';\nlet hmacOk = true;\nlet hmacReason = 'disabled';\nif (WAHA_HMAC_SECRET) {\n  try {\n    const crypto = require('crypto');\n    const provided = String(\n      headers['x-webhook-hmac'] ||\n      headers['X-Webhook-Hmac'] ||\n      headers['x-webhook-hmac-256'] ||\n      headers['X-Webhook-Hmac-256'] ||\n      ''\n    ).toLowerCase().trim();\n    const algo = String(\n      headers['x-webhook-hmac-algorithm'] ||\n      headers['X-Webhook-Hmac-Algorithm'] ||\n      'sha512'\n    ).toLowerCase().trim();\n    if (!provided) {\n      hmacOk = false; hmacReason = 'no_signature';\n    } else {\n      const rawStr = JSON.stringify(body);\n      const expected = crypto.createHmac(algo, WAHA_HMAC_SECRET).update(rawStr).digest('hex');\n      hmacOk = (provided === expected);\n      hmacReason = hmacOk ? 'ok' : 'mismatch';\n    }\n  } catch (e) {\n    // crypto module disallowed (sandbox) or any other error.\n    // Fail-open so the bot keeps working; alert in logs.\n    hmacOk = true;\n    hmacReason = 'hmac_skipped:' + (e.message || 'unknown');\n  }\n}\n\n// ---------------- chatId normalization ------------------------------\nconst from = payload.from || '';\nconst lidAlt = payload._data?.key?.remoteJidAlt || '';\nfunction toWaChatId(primary, whatsappNetAlt) {\n  const alt = whatsappNetAlt && String(whatsappNetAlt).trim();\n  const prim = primary && String(primary).trim();\n  const r = alt || prim || '';\n  if (!r) return '';\n  const suf = '@s.whatsapp.net';\n  if (r.length > suf.length && r.slice(-suf.length).toLowerCase() === suf.toLowerCase()) {\n    return r.slice(0, -suf.length) + '@c.us';\n  }\n  return r;\n}\nconst chatId = toWaChatId(from, lidAlt);\n\n// ---------------- robust source-type detection ---------------------\n// Collect every jid-shaped field WAHA might put the chat / sender in.\nconst candidateJids = [\n  payload.from,\n  payload.to,\n  payload.chatId,\n  payload._data?.key?.remoteJid,\n  payload._data?.from,\n  payload._data?.to,\n  chatId\n].filter(v => typeof v === 'string' && v);\n\nfunction jidIsGroup(jid) {\n  const l = String(jid || '').toLowerCase();\n  return l.endsWith('@g.us') || /^\\d+-\\d+@/.test(l);\n}\nfunction jidIsBroadcast(jid) {\n  const l = String(jid || '').toLowerCase();\n  return l === 'status@broadcast' || l.endsWith('@broadcast') || l.endsWith('@newsletter');\n}\nfunction jidIsUnreachable(jid) {\n  // We could not convert @lid -> @c.us, so replies will silently fail.\n  const l = String(jid || '').toLowerCase();\n  return l.endsWith('@lid');\n}\n\n// Group: any jid-like field looks like a group, OR a participant is present\n// (only group messages carry a participant on WAHA NOWEB).\nconst hasParticipant = !!(\n  payload.participant ||\n  payload._data?.participant ||\n  payload._data?.key?.participant\n);\nconst isGroup = hasParticipant || candidateJids.some(jidIsGroup);\nconst isBroadcast = candidateJids.some(jidIsBroadcast);\nconst isUnreachable = jidIsUnreachable(chatId);\n\n// fromMe can hide in several spots after multi-device sends.\nconst fromMe = (\n  payload.fromMe === true ||\n  payload.fromMe === 'true' ||\n  payload._data?.key?.fromMe === true ||\n  payload._data?.fromMe === true\n);\n\nconst phoneNumber = chatId.replace('@c.us', '').replace('@s.whatsapp.net', '').replace('@g.us', '').replace('@lid', '').replace('@broadcast', '').replace('@newsletter', '');\nconst senderName = payload.notifyName || payload._data?.notifyName || payload._data?.pushName || '';\n\nconst rawBody = (payload.body || '').toString();\nconst messageText = rawBody.trim();\nconst msgLower = messageText.toLowerCase();\n\n// ---------------- interactive replies -------------------------------\nconst selectedButtonId =\n  payload.selectedButtonId ||\n  payload._data?.selectedButtonId ||\n  payload.buttonsResponseMessage?.selectedButtonId ||\n  payload.message?.buttonsResponseMessage?.selectedButtonId ||\n  '';\nconst selectedRowId =\n  payload.selectedRowId ||\n  payload._data?.selectedRowId ||\n  payload.listResponseMessage?.singleSelectReply?.selectedRowId ||\n  payload.message?.listResponseMessage?.singleSelectReply?.selectedRowId ||\n  '';\nconst isInteractiveReply = !!(selectedButtonId || selectedRowId);\nconst interactiveId = selectedButtonId || selectedRowId || '';\n\n// ---------------- message id + idempotency (item 1) ----------------\nconst msgId = String(\n  payload.id ||\n  payload._data?.id?._serialized ||\n  payload._data?.key?.id ||\n  ''\n);\nconst staticData = $getWorkflowStaticData('global');\nstaticData.seenMsgIds = staticData.seenMsgIds || {};\nconst seen = staticData.seenMsgIds;\nconst nowTs = Date.now();\nconst TEN_MIN = 10 * 60 * 1000;\nfor (const k of Object.keys(seen)) {\n  if (nowTs - seen[k] > TEN_MIN) delete seen[k];\n}\nlet isDuplicate = false;\nif (msgId) {\n  if (seen[msgId]) isDuplicate = true;\n  else seen[msgId] = nowTs;\n}\nstaticData.seenMsgIds = seen;\n\n// ---------------- skip decision ------------------------------------\n// Order matters: cheapest / most-common drops first.\nlet skipReason = '';\nif (!hmacOk) skipReason = 'bad_hmac:' + hmacReason;\nelse if (event !== 'message') skipReason = 'not_message:' + event;\nelse if (fromMe) skipReason = 'from_me';\nelse if (isBroadcast) skipReason = 'broadcast_or_status';\nelse if (isGroup) skipReason = 'group';\nelse if (!chatId) skipReason = 'no_chat_id';\nelse if (isUnreachable) skipReason = 'unreachable_lid';\nelse if (!messageText && !isInteractiveReply) skipReason = 'no_content';\nelse if (isDuplicate) skipReason = 'duplicate_msg_id';\nconst skip = !!skipReason;\n\nreturn [{ json: {\n  event,\n  session,\n  chatId,\n  fromJid: from,\n  phoneNumber,\n  senderName,\n  fromMe,\n  isGroup,\n  isBroadcast,\n  isUnreachable,\n  hasParticipant,\n  messageText,\n  msgLower,\n  selectedButtonId,\n  selectedRowId,\n  interactiveId,\n  isInteractiveReply,\n  msgId,\n  isDuplicate,\n  hmacOk,\n  hmacReason,\n  skip,\n  skipReason\n} }];\n"
      }
    },
    {
      "id": "ack_immediate",
      "name": "Ack 200 OK (Early)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -440,
        360
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "if_skip",
      "name": "Skip? (Group / Self / Non-message)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "noop_skip",
      "name": "Drop Silently",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "parameters": {}
    },
    {
      "id": "inject_env",
      "name": "Inject Env Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        520
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Inject Env Config (v3 — self-contained, like v1 was).\n//\n// Why values are hardcoded here:\n// n8n Code nodes run inside the *task runner* sandbox (N8N_RUNNERS_ENABLED).\n// That sandbox does NOT inherit Railway / Docker env by default, so\n// process.env.WAHA_API_KEY is empty even when Railway shows it set.\n// $vars (Settings -> Variables) is Enterprise-only, so it cannot save us on\n// community / Railway-template n8n.\n//\n// Strategy: keep working defaults baked in (same approach as v1.txt which\n// hardcoded the WAHA URL + X-Api-Key in every HTTP node). If a future n8n\n// build ever does expose process.env to Code nodes, it overrides the default.\n//\n// To rotate any value: edit the DEFAULTS block below, then re-import v3.json.\n// ------------------------------------------------------------------\nconst DEFAULTS = {\n  WAHA_BASE_URL:        'http://212.224.86.152:3000',\n  WAHA_API_KEY:         'e703864150e6cc02ae8f2dee97803c7d344846bf796e17134e480d0013a30e47',\n  WAHA_SESSION:         'default',\n  WAHA_HMAC_SECRET:     '',\n  BACKEND_URL:          'https://koderkids-erp.onrender.com',\n  BACKEND_WA_BOT_KEY:   '363d09454dd9db87525b4ddbbf80aed04993f7b141518b10abb54675a4ce6f6b',\n  SALES_REP_1:          '923339446254',\n  SALES_REP_2:          '923329779989',\n  SALES_REP_3:          '923185414080',\n  ADMIN_NOTIFY_NUMBER:  '923339446254',\n  FRONTEND_URL:         'https://portal.koderkids.pk'\n};\n\nfunction readProcessEnv() {\n  const merged = {};\n  const absorb = (o) => {\n    if (!o || typeof o !== 'object') return;\n    for (const k of Object.keys(o)) {\n      const v = o[k];\n      if (v === undefined || v === null) continue;\n      const s = String(v).trim();\n      if (!s) continue;\n      if (merged[k] === undefined) merged[k] = s;\n    }\n  };\n  try { absorb(typeof process !== 'undefined' ? process.env : null); } catch (_) {}\n  try { absorb(globalThis.process?.env); } catch (_) {}\n  return merged;\n}\n\nconst env = readProcessEnv();\nconst pick = (k) => (env[k] && env[k].toString().trim()) || DEFAULTS[k] || '';\nconst trimSlash = (s) => (s || '').toString().replace(/\\/+$/, '');\n\nconst wahaBaseUrl    = trimSlash(pick('WAHA_BASE_URL'));\nconst wahaApiKey     = pick('WAHA_API_KEY') || pick('WAHA_X_API_KEY');\nconst backendUrl     = trimSlash(pick('BACKEND_URL'));\nconst backendBotKey  = pick('BACKEND_WA_BOT_KEY');\n\nif (!/^https?:\\/\\//i.test(wahaBaseUrl)) {\n  throw new Error('[Inject Env Config] WAHA base URL is invalid: ' + wahaBaseUrl);\n}\n\nconst row = $input.first().json;\nconst parse = $('Parse Payload').first().json;\nconst base = { ...parse, ...row };\n\nreturn [{ json: {\n  ...base,\n  wahaSession:     pick('WAHA_SESSION'),\n  wahaBaseUrl,\n  wahaApiKey,\n  backendUrl,\n  backendWaBotKey: backendBotKey,\n  salesRep1:        pick('SALES_REP_1'),\n  salesRep2:        pick('SALES_REP_2'),\n  salesRep3:        pick('SALES_REP_3'),\n  adminNotify:      pick('ADMIN_NOTIFY_NUMBER'),\n  frontendUrl:      pick('FRONTEND_URL'),\n  wahaHmacSecret:   pick('WAHA_HMAC_SECRET')\n} }];\n"
      }
    },
    {
      "id": "load_session",
      "name": "Load Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        520
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Load + prune sessions from workflow staticData.\n// Drops sessions older than 7 days.\n// Enforces:\n//   - opt-out list (item 5)\n//   - per-chat concurrency lock (item 2)\n//   - botPaused flag (item 6)\n// ------------------------------------------------------------------\nconst SEVEN_DAYS_MS = 7 * 24 * 60 * 60 * 1000;\nconst LOCK_MS = 1500;\nconst now = Date.now();\nconst staticData = $getWorkflowStaticData('global');\nconst sessions = staticData.sessions || {};\nconst optedOut = new Set(staticData.optedOut || []);\n\nfor (const key of Object.keys(sessions)) {\n  const u = Date.parse(sessions[key]?.updatedAt || '');\n  if (!u || now - u > SEVEN_DAYS_MS) delete sessions[key];\n}\nstaticData.sessions = sessions;\n\nconst row = $input.first().json;\nconst parse = $('Parse Payload').first().json;\nconst d = { ...parse, ...row };\nconst chatId = d.chatId;\nconst msg = (d.msgLower || '').trim();\n\n// ---------------- opt-out gate (item 5) -----------------------------\n// Allow 'start' / 'resume' through so the user can re-subscribe.\nif (optedOut.has(chatId) && msg !== 'start' && msg !== 'resume') {\n  return [{ json: { ...d, session: { step: 'opted_out' }, skip: true, skipReason: 'opted_out' } }];\n}\n\n// ---------------- load or create session ---------------------------\nconst existing = sessions[chatId];\n\n// ---------------- concurrency lock (item 2) ------------------------\nif (existing?._lockedAt && (now - existing._lockedAt) < LOCK_MS) {\n  return [{ json: { ...d, session: existing, skip: true, skipReason: 'locked' } }];\n}\n\n// ---------------- bot-pause gate (item 6, WAHA side) ----------------\nif (existing?.botPausedUntil && existing.botPausedUntil > now) {\n  return [{ json: { ...d, session: existing, skip: true, skipReason: 'bot_paused' } }];\n}\n\nconst session = existing || {\n  step: 'new',\n  role: null,\n  data: {},\n  history: [],\n  updatedAt: new Date().toISOString()\n};\nsession._lockedAt = now;\nsessions[chatId] = session;\nstaticData.sessions = sessions;\n\nreturn [{ json: { ...d, session } }];\n"
      }
    },
    {
      "id": "check_bot_state",
      "name": "Check Bot State (CRM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        520
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ String($json.backendUrl || $('Inject Env Config').first().json.backendUrl || '').replace(/\\/+$/, '') + '/api/crm/leads/whatsapp/state/?phone=' + encodeURIComponent($json.phoneNumber || '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Bot-Key",
              "value": "={{ String($json.backendWaBotKey || $('Inject Env Config').first().json.backendWaBotKey || '') }}"
            }
          ]
        },
        "options": {
          "timeout": 4000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "apply_bot_state",
      "name": "Apply Bot State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        520
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Merge the CRM bot_disabled flag into the session (item 6 - CRM path).\n// Endpoint may return 404 (not yet implemented in backend) — treat as not-disabled.\n// ------------------------------------------------------------------\nconst d = $('Load Session').first().json;\nconst stateResp = $input.first().json || {};\nconst botDisabled = stateResp.bot_disabled === true;\n\nlet session = d.session;\nif (botDisabled) {\n  session = { ...session, botPaused: true, botPausedUntil: Date.now() + 24 * 60 * 60 * 1000 };\n  return [{ json: { ...d, session, skip: true, skipReason: 'crm_bot_disabled' } }];\n}\nreturn [{ json: { ...d, session } }];\n"
      }
    },
    {
      "id": "normalize_step",
      "name": "Normalize Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        520
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Decide which lane handles this message (hybrid AI-FSM routing).\n// ------------------------------------------------------------------\nconst d = $input.first().json;\nconst session = d.session || { step: 'new' };\nconst msg = (d.msgLower || '').trim();\n\nif (d.skip === true) {\n  return [{ json: { ...d, effectiveStep: 'drop', routeKey: 'drop', _sideQuest: false } }];\n}\n\nconst STOP_WORDS  = new Set(['stop', 'unsubscribe', 'block', 'mute', 'remove me', 'opt out']);\nconst START_WORDS = new Set(['start', 'resume']);\nconst MENU = new Set([\n  'menu', 'hi', 'hello', 'restart',\n  'help', '0', 'back', 'main menu', 'home', 'hey'\n]);\nconst AGENT_WORDS = new Set(['agent', 'human', 'representative', 'real person', 'talk to person', 'talk to human']);\n\nif (STOP_WORDS.has(msg)) {\n  const staticData = $getWorkflowStaticData('global');\n  staticData.optedOut = staticData.optedOut || [];\n  if (!staticData.optedOut.includes(d.chatId)) staticData.optedOut.push(d.chatId);\n  return [{ json: { ...d, effectiveStep: 'opt_out_ack', routeKey: 'opt_out', _sideQuest: false } }];\n}\n\nif (START_WORDS.has(msg)) {\n  const staticData = $getWorkflowStaticData('global');\n  staticData.optedOut = (staticData.optedOut || []).filter(x => x !== d.chatId);\n  return [{ json: { ...d, effectiveStep: 'menu', routeKey: 'menu', _sideQuest: false } }];\n}\n\nlet effectiveStep = session.step || 'new';\nif (session.step === 'new' || MENU.has(msg)) effectiveStep = 'menu';\n\nlet routeKey = effectiveStep;\nlet sideQuest = false;\nlet resumeStep = session.step || 'new';\nlet sideQuestKind = null;\n\nif (session.step === 'awaiting_parent_interest') {\n  routeKey = 'other';\n  sideQuest = true;\n  sideQuestKind = 'interest';\n  resumeStep = 'awaiting_parent_interest';\n} else if (session.step === 'awaiting_parent_followup') {\n  routeKey = 'parent_fsm';\n} else if (session.step.startsWith('awaiting_parent_')) {\n  routeKey = 'parent_fsm';\n} else if (session.step.startsWith('awaiting_school_')) {\n  routeKey = 'school_fsm';\n} else if (session.step === 'awaiting_role') {\n  routeKey = 'role';\n} else if (session.step === 'menu') {\n  routeKey = 'menu';\n} else if (session.step === 'in_other') {\n  routeKey = 'other';\n} else if (session.step === 'lead_done') {\n  routeKey = 'menu';\n} else {\n  routeKey = 'other';\n}\n\nif (AGENT_WORDS.has(msg)) routeKey = 'other';\n\nreturn [{ json: {\n  ...d,\n  effectiveStep,\n  routeKey,\n  _sideQuest: sideQuest,\n  _resumeStep: resumeStep,\n  _fsmRole: session.role || null,\n  _sideQuestKind: sideQuestKind\n} }];\n"
      }
    },
    {
      "id": "switch_step",
      "name": "Route by Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        440,
        520
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw1",
                    "leftValue": "={{ $json.routeKey }}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw2",
                    "leftValue": "={{ $json.routeKey }}",
                    "rightValue": "role",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Role"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw3",
                    "leftValue": "={{ $json.routeKey }}",
                    "rightValue": "parent_fsm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Parent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw4",
                    "leftValue": "={{ $json.routeKey }}",
                    "rightValue": "school_fsm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "School"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw5",
                    "leftValue": "={{ $json.routeKey }}",
                    "rightValue": "opt_out",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "OptOut"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "typeValidation": "loose",
                  "version": 2
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "sw6",
                    "leftValue": "={{ $json.routeKey }}",
                    "rightValue": "drop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Drop"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      }
    },
    {
      "id": "handler_menu",
      "name": "Build Main Menu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        100
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Send the role-picker main menu.\n// Returns ONE WAHA sendText payload with numbered options in the body\n// (NOWEB / CORE — buttons / lists are not delivered, see README).\n// WAHA session name comes from \"Inject Env Config\" (process.env merge).\n// ------------------------------------------------------------------\nconst d = $input.first().json;\nconst cfg = $('Inject Env Config').first().json;\nconst wahaSession = cfg.wahaSession || 'default';\nconst chatId = d.chatId;\nconst session = d.session;\n\nconst body = [\n  \"Welcome to Koder Kids! 👋\",\n  \"\",\n  \"Pakistan's leading AI, Coding & Robotics education platform.\",\n  \"\",\n  \"Please tell us who you are:\",\n  \"\",\n  \"1) 👨\\u200d👩\\u200d👧 Parent\",\n  \"2) 🏫 School\",\n  \"3) 💬 Other\",\n  \"\",\n  \"Tap a button or reply with the number. Type *menu* anytime to come back here.\"\n].join('\\n');\n\nconst payload = {\n  session: wahaSession,\n  chatId,\n  text: body\n};\n\nconst newSession = {\n  step: 'awaiting_role',\n  role: null,\n  data: {},\n  history: session.history || [],\n  updatedAt: new Date().toISOString()\n};\n\nreturn [{ json: {\n  chatId,\n  phoneNumber: d.phoneNumber,\n  senderName: d.senderName,\n  wahaSession,\n  wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\n  wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\n  _newSession: newSession,\n  _waPayload: payload,\n  _waEndpoint: 'sendText',\n  _leadReady: false,\n  _leadData: null,\n  _branch: 'menu'\n} }];\n"
      }
    },
    {
      "id": "handler_role",
      "name": "Parse Role Selection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\r\n// Role selection -> parent age FSM or school product FSM or Other agent.\r\n// ------------------------------------------------------------------\r\nconst d = $input.first().json;\r\nconst chatId = d.chatId;\r\nconst session = d.session;\r\nconst body = (d.msgLower || '').trim();\r\nconst btnId = d.interactiveId || '';\r\n\r\nlet role = null;\r\nif (btnId === 'role_parent' || ['1', 'parent', 'parents', 'p', 'mom', 'dad', 'mother', 'father'].includes(body)) role = 'parent';\r\nelse if (btnId === 'role_school' || ['2', 'school', 's', 'teacher', 'principal', 'institute', 'institution'].includes(body)) role = 'school';\r\nelse if (btnId === 'role_other' || ['3', 'other', 'others', 'o'].includes(body)) role = 'other';\r\nelse role = 'other';\r\n\r\nlet payload, endpoint, newStep;\r\nconst cfg = $('Inject Env Config').first().json;\r\nconst wahaSession = cfg.wahaSession || 'default';\r\n\r\nif (role === 'parent') {\r\n  newStep = 'awaiting_parent_age';\r\n  endpoint = 'sendText';\r\n  payload = {\r\n    session: wahaSession,\r\n    chatId,\r\n    text: [\r\n      'Wonderful! We teach coding, AI & Robotics to kids 5-16 via home tuition.',\r\n      '',\r\n      'How old is your child? Reply with a number:',\r\n      '',\r\n      '1) 5-8 years',\r\n      '2) 9-13 years',\r\n      '3) 14-17 years'\r\n    ].join('\\n')\r\n  };\r\n} else if (role === 'school') {\r\n  newStep = 'awaiting_school_product';\r\n  endpoint = 'sendText';\r\n  payload = {\r\n    session: wahaSession,\r\n    chatId,\r\n    text: [\r\n      'Thanks for your interest!',\r\n      '',\r\n      'We offer Education AI (school ERP at kodereduai.pk) and School Collaboration (coding programs at koderkids.pk).',\r\n      '',\r\n      'Which product are you interested in?',\r\n      '',\r\n      '1) Education AI (kodereduai.pk)',\r\n      '2) School Collaboration (koderkids.pk)',\r\n      '',\r\n      'Reply with 1 or 2.'\r\n    ].join('\\n')\r\n  };\r\n} else {\r\n  newStep = 'in_other';\r\n  endpoint = 'sendText';\r\n  payload = {\r\n    session: wahaSession,\r\n    chatId,\r\n    text: 'No problem! Tell me what you need and I will help. You can ask anything about our coding classes, ERP, pricing, or anything else.'\r\n  };\r\n}\r\n\r\nconst newSession = {\r\n  step: newStep,\r\n  role,\r\n  data: {},\r\n  history: session.history || [],\r\n  updatedAt: new Date().toISOString()\r\n};\r\n\r\nreturn [{\r\n  json: {\r\n    chatId,\r\n    phoneNumber: d.phoneNumber,\r\n    senderName: d.senderName,\r\n    wahaSession,\r\n    wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\r\n    wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\r\n    _newSession: newSession,\r\n    _waPayload: payload,\r\n    _waEndpoint: endpoint,\r\n    _leadReady: false,\r\n    _leadData: null,\r\n    _branch: 'role'\r\n  }\r\n}];\r\n"
      }
    },
    {
      "id": "handler_parent",
      "name": "Parent FSM Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        460
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\r\n// PARENT FSM (hybrid: button steps + AI side quests + open interest).\r\n// age -> city -> laptop -> interest(AI) -> name -> CRM -> followup\r\n// ------------------------------------------------------------------\r\nconst d = $input.first().json;\r\nconst chatId = d.chatId;\r\nconst session = d.session;\r\nconst data = session.data || {};\r\nconst step = session.step;\r\nconst body = (d.msgLower || '').trim();\r\nconst btnId = d.interactiveId || '';\r\nconst cfg = $('Inject Env Config').first().json;\r\nconst wahaSession = cfg.wahaSession || 'default';\r\n\r\nfunction btn(textLines) {\r\n  return { endpoint: 'sendText', payload: { session: wahaSession, chatId, text: textLines.join('\\n') } };\r\n}\r\nfunction txt(text) {\r\n  return { endpoint: 'sendText', payload: { session: wahaSession, chatId, text } };\r\n}\r\n\r\nfunction looksLikeQuestion(text) {\r\n  if (!text || text.length < 8) return false;\r\n  if (text.includes('?')) return true;\r\n  const cues = ['what', 'how', 'when', 'where', 'why', 'can you', 'tell me', 'explain', 'price', 'pricing', 'fee', 'cost', 'curriculum', 'book', 'module', 'erp'];\r\n  return cues.some((c) => text.includes(c));\r\n}\r\n\r\nfunction delegateSideQuest() {\r\n  return [{\r\n    json: {\r\n      chatId,\r\n      phoneNumber: d.phoneNumber,\r\n      senderName: d.senderName,\r\n      messageText: d.messageText,\r\n      msgLower: d.msgLower,\r\n      session,\r\n      wahaSession,\r\n      wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\r\n      wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\r\n      _delegateToOther: true,\r\n      _sideQuest: true,\r\n      _resumeStep: step,\r\n      _fsmRole: 'parent',\r\n      _sideQuestKind: 'question',\r\n      _newSession: { step, role: 'parent', data, history: session.history || [], updatedAt: new Date().toISOString() },\r\n      _waPayload: null,\r\n      _waEndpoint: 'sendText',\r\n      _leadReady: false,\r\n      _leadData: null,\r\n      _branch: 'parent'\r\n    }\r\n  }];\r\n}\r\n\r\nconst ASK_AGE = btn([\r\n  'How old is your child?',\r\n  '',\r\n  '1) 5-8 years',\r\n  '2) 9-13 years',\r\n  '3) 14-17 years',\r\n  '',\r\n  'Tap a button or reply with a number.'\r\n]);\r\n\r\nconst ASK_CITY = btn([\r\n  'Which city are you in?',\r\n  '',\r\n  '1) Lahore',\r\n  '2) Islamabad / Rawalpindi',\r\n  '3) Other',\r\n  '',\r\n  'Tap a button or reply with a number.'\r\n]);\r\n\r\nconst ASK_LAPTOP = btn([\r\n  'Does your child have access to a laptop or computer?',\r\n  '',\r\n  '1) Yes',\r\n  '2) No',\r\n  '',\r\n  'Tap a button or reply with a number.'\r\n]);\r\n\r\nconst ASK_INTEREST_OPEN = txt(\r\n  'What would you like to know about our courses or pricing?\\n\\nAsk anything — I will look it up for you.'\r\n);\r\n\r\nconst ASK_NAME = txt('Almost done! May I have your name to complete the registration?');\r\n\r\nconst ASK_FOLLOWUP = btn([\r\n  'What would you like to do next?',\r\n  '',\r\n  '1) Free Demo Class',\r\n  '2) Book a Meeting',\r\n  '3) Continue later (type menu anytime)'\r\n]);\r\n\r\nfunction parseAge() {\r\n  if (btnId === 'age_5_8' || ['1', '5-8', '5 to 8', '5'].includes(body)) return '5-8';\r\n  if (btnId === 'age_9_13' || ['2', '9-13', '9 to 13'].includes(body)) return '9-13';\r\n  if (btnId === 'age_14_17' || ['3', '14-17', '14 to 17'].includes(body)) return '14-17';\r\n  return null;\r\n}\r\nfunction parseCity() {\r\n  if (btnId === 'city_lahore' || ['1', 'lahore', 'lhr'].includes(body)) return 'Lahore';\r\n  if (btnId === 'city_islamabad' || ['2', 'islamabad', 'rawalpindi', 'isb', 'isb/rawalpindi'].includes(body)) return 'Islamabad/Rawalpindi';\r\n  if (btnId === 'city_other' || ['3', 'other'].includes(body)) return 'Other';\r\n  return null;\r\n}\r\nfunction parseLaptop() {\r\n  if (btnId === 'laptop_yes' || ['1', 'yes', 'y', 'yeah', 'yep'].includes(body)) return 'Yes';\r\n  if (btnId === 'laptop_no' || ['2', 'no', 'n', 'nope'].includes(body)) return 'No';\r\n  return null;\r\n}\r\nfunction parseFollowup() {\r\n  if (btnId === 'next_demo' || ['1', 'demo', 'free demo', 'trial'].includes(body)) return 'Free Demo Class';\r\n  if (btnId === 'next_meeting' || ['2', 'meeting', 'book', 'appointment'].includes(body)) return 'Book a Meeting';\r\n  if (btnId === 'next_later' || ['3', 'later', 'skip', 'no thanks', 'no'].includes(body)) return '';\r\n  return undefined;\r\n}\r\n\r\nlet nextStep = step;\r\nlet nextData = { ...data };\r\nlet send = null;\r\nlet leadReady = false;\r\nlet leadData = null;\r\nconst attempts = (data._attempts || 0) + 1;\r\n\r\nfunction reAsk(retryHint) {\r\n  if (attempts >= 2 && (looksLikeQuestion(body) || body.split(/\\s+/).length >= 6)) {\r\n    return delegateSideQuest();\r\n  }\r\n  if (attempts >= 2) {\r\n    nextStep = 'in_other';\r\n    nextData = { ...data, _attempts: 0 };\r\n    send = txt('Let me hand you over to our assistant who can help in free chat. Type menu anytime to restart.');\r\n  } else {\r\n    nextData = { ...data, _attempts: attempts };\r\n    send = retryHint;\r\n    send.payload.text = \"Sorry, I didn't catch that. \" + send.payload.text;\r\n  }\r\n  return null;\r\n}\r\n\r\nlet earlyReturn = null;\r\n\r\nswitch (step) {\r\n  case 'awaiting_parent_age': {\r\n    const age = parseAge();\r\n    if (!age) {\r\n      const r = reAsk(ASK_AGE);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, child_age: age, _attempts: 0 };\r\n    nextStep = 'awaiting_parent_city';\r\n    send = ASK_CITY;\r\n    break;\r\n  }\r\n  case 'awaiting_parent_city': {\r\n    const city = parseCity();\r\n    if (!city) {\r\n      if (looksLikeQuestion(body) || body.split(/\\s+/).length >= 6) { earlyReturn = delegateSideQuest(); break; }\r\n      const r = reAsk(ASK_CITY);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, city, _attempts: 0 };\r\n    nextStep = 'awaiting_parent_laptop';\r\n    send = ASK_LAPTOP;\r\n    break;\r\n  }\r\n  case 'awaiting_parent_laptop': {\r\n    const laptop = parseLaptop();\r\n    if (!laptop) {\r\n      if (looksLikeQuestion(body) || body.split(/\\s+/).length >= 6) { earlyReturn = delegateSideQuest(); break; }\r\n      const r = reAsk(ASK_LAPTOP);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, has_laptop: laptop, _attempts: 0 };\r\n    nextStep = 'awaiting_parent_interest';\r\n    send = ASK_INTEREST_OPEN;\r\n    break;\r\n  }\r\n  case 'awaiting_parent_name': {\r\n    const name = (d.messageText || '').trim();\r\n    if (name.length < 2) {\r\n      if (looksLikeQuestion(body) || body.split(/\\s+/).length >= 6) { earlyReturn = delegateSideQuest(); break; }\r\n      const r = reAsk(ASK_NAME);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, name, _attempts: 0 };\r\n    nextStep = 'awaiting_parent_followup';\r\n    leadReady = true;\r\n    leadData = {\r\n      type: 'parent',\r\n      name,\r\n      phone: d.phoneNumber,\r\n      whatsapp_from: chatId,\r\n      city: nextData.city,\r\n      child_age: nextData.child_age,\r\n      has_laptop: nextData.has_laptop,\r\n      interest: nextData.interest_summary || 'Parent signup',\r\n      notes: nextData.side_quest_notes || ''\r\n    };\r\n    send = txt(\r\n      'Perfect ' + name + '! Our team will contact you shortly.\\n\\n' + ASK_FOLLOWUP.payload.text\r\n    );\r\n    break;\r\n  }\r\n  case 'awaiting_parent_followup': {\r\n    const action = parseFollowup();\r\n    if (action === undefined) {\r\n      if (looksLikeQuestion(body)) { earlyReturn = delegateSideQuest(); break; }\r\n      send = ASK_FOLLOWUP;\r\n      send.payload.text = \"Sorry, I didn't catch that. \" + send.payload.text;\r\n      break;\r\n    }\r\n    if (action) nextData.next_action = action;\r\n    nextStep = 'lead_done';\r\n    send = action\r\n      ? txt('Noted — we will arrange your ' + action + '. Thank you! Type menu anytime.')\r\n      : txt('Thank you! Type menu anytime to start again.');\r\n    break;\r\n  }\r\n  default: {\r\n    nextStep = 'awaiting_parent_age';\r\n    nextData = {};\r\n    send = ASK_AGE;\r\n  }\r\n}\r\n\r\nif (earlyReturn) return earlyReturn;\r\n\r\nconst newSession = {\r\n  step: nextStep,\r\n  role: 'parent',\r\n  data: nextData,\r\n  history: session.history || [],\r\n  updatedAt: new Date().toISOString()\r\n};\r\n\r\nreturn [{\r\n  json: {\r\n    chatId,\r\n    phoneNumber: d.phoneNumber,\r\n    senderName: d.senderName,\r\n    wahaSession,\r\n    wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\r\n    wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\r\n    _newSession: newSession,\r\n    _waPayload: send ? send.payload : null,\r\n    _waEndpoint: send ? send.endpoint : 'sendText',\r\n    _leadReady: leadReady,\r\n    _leadData: leadData,\r\n    _branch: 'parent'\r\n  }\r\n}];\r\n"
      }
    },
    {
      "id": "handler_school",
      "name": "School FSM Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        640
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\r\n// SCHOOL FSM — product branch (EduAI vs Collaboration) + side quests.\r\n// ------------------------------------------------------------------\r\nconst d = $input.first().json;\r\nconst chatId = d.chatId;\r\nconst session = d.session;\r\nconst data = session.data || {};\r\nconst step = session.step;\r\nconst body = (d.msgLower || '').trim();\r\nconst btnId = d.interactiveId || '';\r\nconst cfg = $('Inject Env Config').first().json;\r\nconst wahaSession = cfg.wahaSession || 'default';\r\n\r\nfunction btn(textLines) {\r\n  return { endpoint: 'sendText', payload: { session: wahaSession, chatId, text: textLines.join('\\n') } };\r\n}\r\nfunction txt(text) {\r\n  return { endpoint: 'sendText', payload: { session: wahaSession, chatId, text } };\r\n}\r\n\r\nfunction looksLikeQuestion(text) {\r\n  if (!text || text.length < 8) return false;\r\n  if (text.includes('?')) return true;\r\n  const cues = ['what', 'how', 'when', 'where', 'why', 'can you', 'tell me', 'explain', 'price', 'pricing', 'fee', 'cost', 'curriculum', 'book', 'module', 'erp'];\r\n  return cues.some((c) => text.includes(c));\r\n}\r\n\r\nfunction delegateSideQuest() {\r\n  return [{\r\n    json: {\r\n      chatId,\r\n      phoneNumber: d.phoneNumber,\r\n      senderName: d.senderName,\r\n      messageText: d.messageText,\r\n      msgLower: d.msgLower,\r\n      session,\r\n      wahaSession,\r\n      wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\r\n      wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\r\n      _delegateToOther: true,\r\n      _sideQuest: true,\r\n      _resumeStep: step,\r\n      _fsmRole: 'school',\r\n      _sideQuestKind: 'question',\r\n      _newSession: { step, role: 'school', data, history: session.history || [], updatedAt: new Date().toISOString() },\r\n      _waPayload: null,\r\n      _waEndpoint: 'sendText',\r\n      _leadReady: false,\r\n      _leadData: null,\r\n      _branch: 'school'\r\n    }\r\n  }];\r\n}\r\n\r\nfunction maybeDelegate() {\r\n  if (looksLikeQuestion(body) || body.split(/\\s+/).length >= 6) return delegateSideQuest();\r\n  return null;\r\n}\r\n\r\nconst ASK_PRODUCT = btn([\r\n  'Which product are you interested in?',\r\n  '',\r\n  '1) Education AI (kodereduai.pk)',\r\n  '2) School Collaboration (koderkids.pk)',\r\n  '',\r\n  'Reply with 1 or 2.'\r\n]);\r\n\r\nconst ASK_EDUAI_TYPE = btn([\r\n  'What type of school?',\r\n  '',\r\n  '1) Primary',\r\n  '2) Secondary',\r\n  '',\r\n  'Reply with 1 or 2.'\r\n]);\r\n\r\nconst ASK_CITY = btn([\r\n  'Which city is your school in?',\r\n  '',\r\n  '1) Lahore',\r\n  '2) Islamabad / Rawalpindi',\r\n  '3) Karachi',\r\n  '4) Other',\r\n  '',\r\n  'Reply with a number.'\r\n]);\r\n\r\nconst ASK_LAB = btn([\r\n  'Does your school have a computer lab?',\r\n  '',\r\n  '1) Yes',\r\n  '2) No',\r\n  '3) Planning to build one',\r\n  '',\r\n  'Reply with a number.'\r\n]);\r\n\r\nconst ASK_INTEREST = btn([\r\n  'What can we help with? Reply with a number:',\r\n  '',\r\n  '1) Coding Classes at School',\r\n  '2) AI & Robotics Program',\r\n  '3) Education AI ERP',\r\n  '4) Teacher Training',\r\n  '5) Full School Partnership'\r\n]);\r\n\r\nconst ASK_STUDENTS = txt('Approximately how many students does your school have? (e.g. 250)');\r\n\r\nfunction parseProduct() {\r\n  if (btnId === 'product_eduai' || ['1', 'eduai', 'erp', 'education ai'].includes(body)) return 'Education AI';\r\n  if (btnId === 'product_collab' || ['2', 'collab', 'collaboration', 'koder kids', 'koderkids'].includes(body)) return 'School Collaboration';\r\n  return null;\r\n}\r\nfunction parseEduaiType() {\r\n  if (btnId === 'stype_primary' || ['1', 'primary'].includes(body)) return 'Primary';\r\n  if (btnId === 'stype_secondary' || ['2', 'secondary'].includes(body)) return 'Secondary';\r\n  return null;\r\n}\r\nfunction parseCity() {\r\n  if (btnId === 'scity_lhr' || ['1', 'lahore', 'lhr'].includes(body)) return 'Lahore';\r\n  if (btnId === 'scity_isb' || ['2', 'islamabad', 'rawalpindi', 'isb'].includes(body)) return 'Islamabad/Rawalpindi';\r\n  if (btnId === 'scity_khi' || ['3', 'karachi', 'khi'].includes(body)) return 'Karachi';\r\n  if (btnId === 'scity_other' || ['4', 'other'].includes(body)) return 'Other';\r\n  return null;\r\n}\r\nfunction parseLab() {\r\n  if (btnId === 'lab_yes' || ['1', 'yes', 'y'].includes(body)) return 'Yes';\r\n  if (btnId === 'lab_no' || ['2', 'no', 'n'].includes(body)) return 'No';\r\n  if (btnId === 'lab_pln' || ['3', 'planning', 'plan'].includes(body)) return 'Planning';\r\n  return null;\r\n}\r\nfunction parseInterest() {\r\n  const map = {\r\n    sint_classes: 'Coding Classes', sint_robotics: 'AI & Robotics', sint_erp: 'ERP System',\r\n    sint_training: 'Teacher Training', sint_partnership: 'Full Partnership'\r\n  };\r\n  if (map[btnId]) return map[btnId];\r\n  if (['1', 'classes', 'coding'].includes(body)) return 'Coding Classes';\r\n  if (['2', 'robotics', 'ai', 'ai & robotics'].includes(body)) return 'AI & Robotics';\r\n  if (['3', 'erp', 'kodereduai'].includes(body)) return 'ERP System';\r\n  if (['4', 'training', 'teacher training'].includes(body)) return 'Teacher Training';\r\n  if (['5', 'partnership', 'partner'].includes(body)) return 'Full Partnership';\r\n  return null;\r\n}\r\nfunction parseStudents() {\r\n  const m = (d.messageText || '').match(/(\\d[\\d,]*)/);\r\n  if (!m) return null;\r\n  const n = parseInt(m[1].replace(/,/g, ''), 10);\r\n  if (n >= 1 && n <= 50000) return n;\r\n  return null;\r\n}\r\nfunction parseContact(raw) {\r\n  if (raw.length < 2) return null;\r\n  let name = raw;\r\n  let roleAt = '';\r\n  if (raw.includes(',')) {\r\n    const parts = raw.split(',').map((s) => s.trim());\r\n    name = parts[0];\r\n    roleAt = parts.slice(1).join(', ');\r\n  } else if (raw.includes(' - ')) {\r\n    const parts = raw.split(' - ').map((s) => s.trim());\r\n    name = parts[0];\r\n    roleAt = parts.slice(1).join(' - ');\r\n  }\r\n  return { name, roleAt };\r\n}\r\n\r\nfunction buildSchoolLead(name, roleAt) {\r\n  const product = nextData.school_product || '';\r\n  const notes = [\r\n    nextData.side_quest_notes || '',\r\n    product ? 'Product: ' + product : '',\r\n    nextData.school_type ? 'School type: ' + nextData.school_type : ''\r\n  ].filter(Boolean).join(' | ');\r\n  return {\r\n    type: 'school',\r\n    name,\r\n    phone: d.phoneNumber,\r\n    whatsapp_from: chatId,\r\n    school_name: nextData.school_name,\r\n    city: nextData.city,\r\n    lab: nextData.lab || '',\r\n    interest: nextData.interest || (product === 'Education AI' ? 'Education AI ERP' : 'School Collaboration'),\r\n    role_at_school: roleAt,\r\n    estimated_students: nextData.student_count || null,\r\n    notes\r\n  };\r\n}\r\n\r\nlet nextStep = step;\r\nlet nextData = { ...data };\r\nlet send = null;\r\nlet leadReady = false;\r\nlet leadData = null;\r\nconst attempts = (data._attempts || 0) + 1;\r\n\r\nfunction reAsk(prompt) {\r\n  if (attempts >= 2) {\r\n    const del = maybeDelegate();\r\n    if (del) return del;\r\n    nextStep = 'in_other';\r\n    nextData = { ...data, _attempts: 0 };\r\n    send = txt('Let me hand you over to our assistant for free chat. Type menu anytime to restart.');\r\n    return null;\r\n  }\r\n  nextData = { ...data, _attempts: attempts };\r\n  send = prompt;\r\n  send.payload.text = \"Sorry, I didn't catch that. \" + send.payload.text;\r\n  return null;\r\n}\r\n\r\nlet earlyReturn = null;\r\n\r\nswitch (step) {\r\n  case 'awaiting_school_product': {\r\n    const product = parseProduct();\r\n    if (!product) {\r\n      const r = reAsk(ASK_PRODUCT);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, school_product: product, _attempts: 0 };\r\n    if (product === 'Education AI') {\r\n      nextStep = 'awaiting_school_eduai_type';\r\n      send = ASK_EDUAI_TYPE;\r\n    } else {\r\n      nextStep = 'awaiting_school_collab_name';\r\n      send = txt('Thanks! To get started, please type your school name.');\r\n    }\r\n    break;\r\n  }\r\n  case 'awaiting_school_eduai_type': {\r\n    const st = parseEduaiType();\r\n    if (!st) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      const r = reAsk(ASK_EDUAI_TYPE);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, school_type: st, _attempts: 0 };\r\n    nextStep = 'awaiting_school_eduai_city';\r\n    send = ASK_CITY;\r\n    break;\r\n  }\r\n  case 'awaiting_school_eduai_city': {\r\n    const city = parseCity();\r\n    if (!city) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      const r = reAsk(ASK_CITY);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, city, _attempts: 0 };\r\n    nextStep = 'awaiting_school_eduai_name';\r\n    send = txt('Please type your school name.');\r\n    break;\r\n  }\r\n  case 'awaiting_school_eduai_name': {\r\n    const name = (d.messageText || '').trim();\r\n    if (name.length < 2) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      send = txt(\"Sorry, I didn't catch that. Please type your school name.\");\r\n      break;\r\n    }\r\n    nextData = { ...data, school_name: name, _attempts: 0 };\r\n    nextStep = 'awaiting_school_eduai_contact';\r\n    send = txt('Almost done! May I have your name and role at the school? (e.g. Ahmed, Principal)');\r\n    break;\r\n  }\r\n  case 'awaiting_school_eduai_contact': {\r\n    const raw = (d.messageText || '').trim();\r\n    const contact = parseContact(raw);\r\n    if (!contact) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      send = txt(\"Sorry, I didn't catch that. Please type your name and role.\");\r\n      break;\r\n    }\r\n    nextData = { ...data, name: contact.name, role_at_school: contact.roleAt, _attempts: 0 };\r\n    nextStep = 'lead_done';\r\n    leadReady = true;\r\n    leadData = buildSchoolLead(contact.name, contact.roleAt);\r\n    send = txt('Perfect! Our team will reach out shortly about Education AI at ' + nextData.school_name + '. Type menu anytime.');\r\n    break;\r\n  }\r\n  case 'awaiting_school_collab_name': {\r\n    const name = (d.messageText || '').trim();\r\n    if (name.length < 2) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      send = txt(\"Sorry, I didn't catch that. Please type your school name.\");\r\n      break;\r\n    }\r\n    nextData = { ...data, school_name: name, _attempts: 0 };\r\n    nextStep = 'awaiting_school_collab_city';\r\n    send = ASK_CITY;\r\n    break;\r\n  }\r\n  case 'awaiting_school_collab_city': {\r\n    const city = parseCity();\r\n    if (!city) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      const r = reAsk(ASK_CITY);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, city, _attempts: 0 };\r\n    nextStep = 'awaiting_school_collab_lab';\r\n    send = ASK_LAB;\r\n    break;\r\n  }\r\n  case 'awaiting_school_collab_lab': {\r\n    const lab = parseLab();\r\n    if (!lab) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      const r = reAsk(ASK_LAB);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, lab, _attempts: 0 };\r\n    nextStep = 'awaiting_school_collab_interest';\r\n    send = ASK_INTEREST;\r\n    break;\r\n  }\r\n  case 'awaiting_school_collab_interest': {\r\n    const interest = parseInterest();\r\n    if (!interest) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      const r = reAsk(ASK_INTEREST);\r\n      if (r) { earlyReturn = r; break; }\r\n      break;\r\n    }\r\n    nextData = { ...data, interest, _attempts: 0 };\r\n    nextStep = 'awaiting_school_collab_students';\r\n    send = ASK_STUDENTS;\r\n    break;\r\n  }\r\n  case 'awaiting_school_collab_students': {\r\n    const count = parseStudents();\r\n    if (count === null) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      send = txt(\"Sorry, please enter a number (e.g. 250).\");\r\n      break;\r\n    }\r\n    nextData = { ...data, student_count: count, _attempts: 0 };\r\n    nextStep = 'awaiting_school_collab_contact';\r\n    send = txt('Almost done! May I have your name and role at the school? (e.g. Ahmed, Principal)');\r\n    break;\r\n  }\r\n  case 'awaiting_school_collab_contact': {\r\n    const raw = (d.messageText || '').trim();\r\n    const contact = parseContact(raw);\r\n    if (!contact) {\r\n      const del = maybeDelegate();\r\n      if (del) { earlyReturn = del; break; }\r\n      send = txt(\"Sorry, I didn't catch that. Please type your name and role.\");\r\n      break;\r\n    }\r\n    nextData = { ...data, name: contact.name, role_at_school: contact.roleAt, _attempts: 0 };\r\n    nextStep = 'lead_done';\r\n    leadReady = true;\r\n    leadData = buildSchoolLead(contact.name, contact.roleAt);\r\n    send = txt('Perfect! Our partnerships team will reach out regarding ' + (nextData.interest || 'collaboration') + ' at ' + nextData.school_name + '. Type menu anytime.');\r\n    break;\r\n  }\r\n  default: {\r\n    nextStep = 'awaiting_school_product';\r\n    nextData = { school_product: data.school_product };\r\n    send = ASK_PRODUCT;\r\n  }\r\n}\r\n\r\nif (earlyReturn) return earlyReturn;\r\n\r\nconst newSession = {\r\n  step: nextStep,\r\n  role: 'school',\r\n  data: nextData,\r\n  history: session.history || [],\r\n  updatedAt: new Date().toISOString()\r\n};\r\n\r\nreturn [{\r\n  json: {\r\n    chatId,\r\n    phoneNumber: d.phoneNumber,\r\n    senderName: d.senderName,\r\n    wahaSession,\r\n    wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\r\n    wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\r\n    _newSession: newSession,\r\n    _waPayload: send ? send.payload : null,\r\n    _waEndpoint: send ? send.endpoint : 'sendText',\r\n    _leadReady: leadReady,\r\n    _leadData: leadData,\r\n    _branch: 'school'\r\n  }\r\n}];\r\n"
      }
    },
    {
      "id": "handler_opt_out",
      "name": "Opt-Out Ack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        1060
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// User typed STOP / unsubscribe. Send one final confirmation, then\n// every future inbound from this chatId will be dropped by Load Session.\n// ------------------------------------------------------------------\nconst d = $input.first().json;\nconst cfg = $('Inject Env Config').first().json;\nconst wahaSession = cfg.wahaSession || 'default';\n\nconst text = [\n  'You have been unsubscribed from Koder Kids WhatsApp updates.',\n  '',\n  'Reply *START* anytime to re-enable messages.'\n].join('\\n');\n\nconst newSession = {\n  step: 'opted_out',\n  role: null,\n  data: {},\n  history: [],\n  updatedAt: new Date().toISOString()\n};\n\nreturn [{ json: {\n  chatId: d.chatId,\n  phoneNumber: d.phoneNumber,\n  senderName: d.senderName,\n  wahaSession,\n  wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\n  wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\n  _newSession: newSession,\n  _waPayload: { session: wahaSession, chatId: d.chatId, text },\n  _waEndpoint: 'sendText',\n  _leadReady: false,\n  _leadData: null,\n  _branch: 'opt_out'\n} }];\n"
      }
    },
    {
      "id": "other_prep",
      "name": "Other Agent Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        880
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Prepare context for the LangChain Other agent (incl. side quests).\n// ------------------------------------------------------------------\nconst d = $input.first().json;\nconst session = d.session || { step: 'new', role: null, data: {} };\nconst cfg = $('Inject Env Config').first().json;\nconst wahaSession = cfg.wahaSession || 'default';\n\nconst sideQuest = d._sideQuest === true || d._delegateToOther === true;\nconst resumeStep = d._resumeStep || session.step;\nconst fsmRole = d._fsmRole || session.role || 'other';\nconst sideQuestKind = d._sideQuestKind || (session.step === 'awaiting_parent_interest' ? 'interest' : 'question');\nconst collected = JSON.stringify(session.data || {});\n\nlet agentUserMessage = d.messageText || '';\nif (sideQuest) {\n  agentUserMessage = [\n    '[SIDE_QUEST mode=' + sideQuestKind + ' role=' + fsmRole + ' resume=' + resumeStep + ' collected=' + collected + ']',\n    'User: ' + (d.messageText || '')\n  ].join('\\n');\n}\n\nreturn [{ json: {\n  chatId: d.chatId,\n  phoneNumber: d.phoneNumber,\n  senderName: d.senderName,\n  messageText: d.messageText,\n  agentUserMessage,\n  wahaSession,\n  wahaBaseUrl: d.wahaBaseUrl || cfg.wahaBaseUrl,\n  wahaApiKey: d.wahaApiKey || cfg.wahaApiKey,\n  _session: session,\n  _sideQuest: sideQuest,\n  _resumeStep: resumeStep,\n  _fsmRole: fsmRole,\n  _sideQuestKind: sideQuestKind\n} }];\n"
      }
    },
    {
      "id": "other_lm",
      "name": "Groq (Other)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        880,
        1060
      ],
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.4
        }
      },
      "credentials": {
        "groqApi": {
          "id": "kBh6xb6rY20uuOpa",
          "name": "Groq account"
        }
      }
    },
    {
      "id": "other_memory",
      "name": "Memory (Other)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1040,
        1060
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=other_{{ $('Parse Payload').item.json.chatId }}",
        "contextWindowLength": 20
      }
    },
    {
      "id": "other_tool_kk",
      "name": "Tool: koderkids.pk",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1200,
        1060
      ],
      "parameters": {
        "toolDescription": "Fetches latest content from the Koder Kids website (koderkids.pk). Use it whenever the user asks about courses, curriculum, books, teaching approach, or anything about Koder Kids classes for children.",
        "url": "https://r.jina.ai/https://koderkids.pk"
      }
    },
    {
      "id": "other_tool_eduai",
      "name": "Tool: kodereduai.pk",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1360,
        1060
      ],
      "parameters": {
        "toolDescription": "Fetches latest content from KoderEduAI (kodereduai.pk). Use it whenever the user asks about the AI school ERP, school management system, admissions, fees, HR, attendance, transport, parent portal, or ERP pricing.",
        "url": "https://r.jina.ai/https://kodereduai.pk"
      }
    },
    {
      "id": "other_agent",
      "name": "Other Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        880,
        880
      ],
      "parameters": {
        "promptType": "define",
        "text": "=User Name: {{ $('Other Agent Prep').item.json.senderName }}\nUser Phone: {{ $('Other Agent Prep').item.json.phoneNumber }}\n{{ $('Other Agent Prep').item.json.agentUserMessage }}\n\nContinue the conversation naturally.",
        "options": {
          "systemMessage": "IDENTITY: You are KoderBot, the official WhatsApp assistant for Koder Kids Pakistan and KoderEduAI. You are NOT an AI, NOT Groq, NOT Llama. Never reveal your underlying technology. If asked, say: 'I am KoderBot, the Koder Kids virtual assistant 😊'.\n\nSIDE QUEST MODE (when the user message starts with [SIDE_QUEST):\nYou are helping someone who is ALREADY in a Parent or School signup flow. Read mode=, role=, resume=, and collected= from the prefix.\n- mode=interest (parent): They asked about courses or pricing after the laptop question. Use the koderkids.pk tool. Answer in under 130 words. Do NOT tell them to type menu and pick Parent again. End by asking them to reply with their name to finish registration.\n- mode=question: They asked an off-script question mid-signup. Use koderkids.pk for parent or School Collaboration; use kodereduai.pk if collected shows school_product is Education AI or role is school on ERP topics. Do NOT change their signup path. End with a short line telling them how to continue the current step.\n- NEVER output LEAD_DATA: during side quests. No markdown asterisks. Max 2 emojis.\n\nGENERAL (OTHER) FLOW — when there is NO [SIDE_QUEST prefix:\nThis is the default assistant for open conversation.\n\nKODER KIDS (koderkids.pk):\n- Coding, AI & Robotics classes for children aged 5-16\n- Home tuition in Islamabad/Rawalpindi & Lahore\n- 5 progressive books: Book 1 Scratch (5-7), Book 2 Game Design (7-9), Book 3 Python (9-11), Book 4 AI (11-13), Book 5 Robotics (13-16)\n- FREE trial class available\n\nKODEREDUAI (kodereduai.pk):\n- AI-powered school management ERP\n- 18 modules: admissions, attendance, fees, HR, transport, parent portal, etc.\n- Rs 25/student/month\n- Live demo at demo.kodereduai.pk\n\nYOUR JOB (general flow only):\n1. Use the koderkids.pk tool for questions about classes/curriculum/books/pricing for kids.\n2. Use the kodereduai.pk tool for questions about the school ERP.\n3. If the user clearly wants enrollment for THEIR CHILD, tell them: 'For child enrollment please type menu and pick Parent — that flow takes care of you in just a few taps.'\n4. If the user is from a school/institution and wants partnership/ERP/teacher training, tell them: 'Please type menu and pick School — our school flow captures everything we need in a minute.'\n5. For careers, email hr@koderkids.pk. For partnerships/investments, email info@koderkids.pk.\n6. For anything else, answer warmly and helpfully, then offer to collect their name and number for follow-up.\n\nLEAD CAPTURE (general flow only): When you have BOTH a name AND a clear intent (or a phone number), append on the LAST line:\nLEAD_DATA:{\"type\":\"other\",\"name\":\"<name>\",\"phone\":\"<phone>\",\"interest\":\"<intent>\",\"notes\":\"<short summary>\"}\n\nNever output LEAD_DATA more than once per conversation. Keep replies under 130 words. Maximum 2 emojis. Plain text only — no markdown asterisks, no bullet lists. Always be warm, concise, and helpful."
        }
      }
    },
    {
      "id": "other_process",
      "name": "Process Other Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        880
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// LangChain output -> WAHA payload + session (side-quest aware).\n// ------------------------------------------------------------------\nconst agentOut = $input.first().json;\nconst prep = $('Other Agent Prep').first().json;\nconst parse = $('Parse Payload').first().json;\nconst session = prep._session || { step: 'in_other', role: 'other', data: {}, history: [] };\nconst cfg = $('Inject Env Config').first().json;\nconst wahaSession = prep.wahaSession || cfg.wahaSession || 'default';\n\nconst sideQuest = prep._sideQuest === true;\nconst sideQuestKind = prep._sideQuestKind || 'question';\nconst resumeStep = prep._resumeStep || session.step;\nconst fsmRole = prep._fsmRole || session.role || 'other';\n\nconst RESUME_HINTS = {\n  awaiting_parent_age: 'Reply with your child\\'s age: 1) 5-8 years  2) 9-13 years  3) 14-17 years',\n  awaiting_parent_city: 'Reply with your city: 1) Lahore  2) Islamabad/Rawalpindi  3) Other',\n  awaiting_parent_laptop: 'Does your child have a laptop? 1) Yes  2) No',\n  awaiting_parent_name: 'Reply with your name to finish registration.',\n  awaiting_parent_followup: 'Next step: 1) Free Demo Class  2) Book a Meeting  3) Continue later',\n  awaiting_school_product: 'Which product? 1) Education AI (kodereduai.pk)  2) School Collaboration (koderkids.pk)',\n  awaiting_school_eduai_type: 'School type: 1) Primary  2) Secondary',\n  awaiting_school_eduai_city: 'Which city? 1) Lahore  2) Islamabad/Rawalpindi  3) Karachi  4) Other',\n  awaiting_school_eduai_name: 'Please type your school name.',\n  awaiting_school_eduai_contact: 'Please type your name and role (e.g. Ahmed, Principal).',\n  awaiting_school_collab_name: 'Please type your school name.',\n  awaiting_school_collab_city: 'Which city? 1) Lahore  2) Islamabad/Rawalpindi  3) Karachi  4) Other',\n  awaiting_school_collab_lab: 'Computer lab? 1) Yes  2) No  3) Planning to build one',\n  awaiting_school_collab_interest: 'Partnership interest: 1) Coding Classes  2) AI & Robotics  3) ERP  4) Teacher Training  5) Full Partnership',\n  awaiting_school_collab_students: 'Approximately how many students does your school have?',\n  awaiting_school_collab_contact: 'Please type your name and role at the school.'\n};\n\nconst rawReply = (agentOut.output || agentOut.text || 'Sorry, I could not process that. Please try again or type menu.').toString();\n\nconst MARKER = 'LEAD_DATA:';\nlet cleanReply = rawReply;\nlet leadData = null;\nconst idx = rawReply.indexOf(MARKER);\nif (idx !== -1 && !sideQuest) {\n  cleanReply = rawReply.substring(0, idx).trim();\n  const tail = rawReply.substring(idx + MARKER.length).trim();\n  try {\n    const m = tail.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      const parsed = JSON.parse(m[0]);\n      leadData = {\n        type: 'other',\n        name: parsed.name || prep.senderName || '',\n        phone: parsed.phone || prep.phoneNumber || '',\n        whatsapp_from: parse.chatId,\n        interest: parsed.interest || '',\n        notes: parsed.notes || ''\n      };\n    }\n  } catch (_) { leadData = null; }\n}\nif (!cleanReply) cleanReply = 'How else can I help you today?';\n\nlet nextStep = session.step;\nlet nextData = { ...(session.data || {}) };\nlet leadReady = false;\n\nif (sideQuest) {\n  if (sideQuestKind === 'interest') {\n    nextStep = 'awaiting_parent_name';\n    const userQ = (parse.messageText || '').trim();\n    if (userQ) nextData.interest_summary = userQ.slice(0, 200);\n    nextData.side_quest_notes = (nextData.side_quest_notes || '') + ' [AI answered interest question]';\n    const hint = RESUME_HINTS.awaiting_parent_name;\n    if (!cleanReply.toLowerCase().includes('name')) {\n      cleanReply = cleanReply.trim() + '\\n\\n' + hint;\n    }\n  } else {\n    nextStep = resumeStep;\n    const hint = RESUME_HINTS[resumeStep];\n    if (hint && !cleanReply.toLowerCase().includes('continue')) {\n      cleanReply = cleanReply.trim() + '\\n\\nTo continue signup: ' + hint;\n    }\n  }\n  nextData._attempts = 0;\n} else {\n  const leadReadyCheck = !!leadData && !!(leadData.phone || leadData.name);\n  leadReady = leadReadyCheck;\n  nextStep = leadReady ? 'lead_done' : 'in_other';\n}\n\nconst newSession = {\n  step: nextStep,\n  role: sideQuest ? (fsmRole || session.role) : 'other',\n  data: nextData,\n  history: session.history || [],\n  updatedAt: new Date().toISOString()\n};\n\nconst payload = {\n  session: wahaSession,\n  chatId: parse.chatId,\n  text: cleanReply\n};\n\nreturn [{ json: {\n  chatId: parse.chatId,\n  phoneNumber: parse.phoneNumber,\n  senderName: parse.senderName,\n  wahaSession,\n  wahaBaseUrl: cfg.wahaBaseUrl,\n  wahaApiKey: cfg.wahaApiKey,\n  _newSession: newSession,\n  _waPayload: payload,\n  _waEndpoint: 'sendText',\n  _leadReady: leadReady,\n  _leadData: leadData,\n  _branch: sideQuest ? (fsmRole || 'side_quest') : 'other'\n} }];\n"
      }
    },
    {
      "id": "if_has_lead",
      "name": "Has Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-has-lead",
              "leftValue": "={{ $json._leadReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "crm_post",
      "name": "POST Lead to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.backendUrl || $('Inject Env Config').first().json.backendUrl || '').replace(/\\/+$/, '') + '/api/crm/leads/whatsapp/' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Bot-Key",
              "value": "={{ String($json.backendWaBotKey || $('Inject Env Config').first().json.backendWaBotKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._leadData) }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 3,
            "waitBetweenTries": 1500
          },
          "response": {
            "response": {
              "neverError": true,
              "fullResponse": true
            }
          }
        }
      },
      "continueOnFail": true
    },
    {
      "id": "check_crm_response",
      "name": "Check CRM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        380
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Item 4: don't blanket-swallow CRM failures.\n// If POST Lead to CRM did not return a usable lead id, push the payload\n// onto staticData.failedLeads and emit an alert flag for the ops fan-out.\n// We still continue downstream so the customer-facing reply is not blocked.\n// ------------------------------------------------------------------\nconst src = $('Has Lead?').first().json;\nconst resp = $input.first().json || {};\nconst body = resp.body || resp;\nconst statusCode = resp.statusCode || resp.status || (body && body.id ? 201 : 0);\nconst leadId = (body && (body.id || body.lead_id)) || null;\nconst ok = !!leadId;\n\nif (!ok) {\n  const staticData = $getWorkflowStaticData('global');\n  staticData.failedLeads = staticData.failedLeads || [];\n  staticData.failedLeads.push({\n    at: new Date().toISOString(),\n    chatId: src.chatId,\n    lead: src._leadData,\n    statusCode,\n    respSnippet: typeof body === 'string' ? body.slice(0, 200) : JSON.stringify(body).slice(0, 200)\n  });\n  if (staticData.failedLeads.length > 50) {\n    staticData.failedLeads = staticData.failedLeads.slice(-50);\n  }\n}\n\nreturn [{ json: { ...src, _crmOk: ok, _crmLeadId: leadId, _crmStatus: statusCode, body } }];\n"
      }
    },
    {
      "id": "build_notify",
      "name": "Build Sales Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        380
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\r\n// Fan out sales-notification payloads (incl. hybrid FSM fields).\r\n// ------------------------------------------------------------------\r\nconst src = $input.first().json;\r\nconst lead = src._leadData || {};\r\nconst cfg = $('Inject Env Config').first().json;\r\nconst wahaSession = src.wahaSession || cfg.wahaSession || 'default';\r\nconst leadId = src._crmLeadId || null;\r\nconst crmOk = src._crmOk === true;\r\nconst frontend = cfg.frontendUrl || '';\r\nconst sessData = (src._newSession && src._newSession.data) || {};\r\n\r\nconst reps = [cfg.salesRep1, cfg.salesRep2, cfg.salesRep3].filter(Boolean);\r\n\r\nconst summary = [\r\n  `🔔 NEW ${(lead.type || 'other').toUpperCase()} LEAD`,\r\n  '',\r\n  `Name: ${lead.name || '-'}`,\r\n  `Phone: ${lead.phone || '-'}`,\r\n  lead.school_name ? `School: ${lead.school_name}` : null,\r\n  lead.city ? `City: ${lead.city}` : null,\r\n  lead.child_age ? `Child Age: ${lead.child_age}` : null,\r\n  lead.has_laptop ? `Has Laptop: ${lead.has_laptop}` : null,\r\n  lead.lab ? `Computer Lab: ${lead.lab}` : null,\r\n  lead.role_at_school ? `Role: ${lead.role_at_school}` : null,\r\n  lead.interest ? `Interest: ${lead.interest}` : null,\r\n  lead.estimated_students ? `Students: ${lead.estimated_students}` : null,\r\n  lead.notes ? `Notes: ${String(lead.notes).slice(0, 120)}` : null,\r\n  sessData.next_action ? `Next action: ${sessData.next_action}` : null,\r\n  leadId ? `Lead ID: ${leadId}` : null,\r\n  frontend && leadId ? `Open: ${frontend}/crm/leads` : null,\r\n  !crmOk ? '⚠️ CRM SAVE FAILED — see n8n staticData.failedLeads.' : null,\r\n  '',\r\n  'Please follow up shortly! 📞'\r\n].filter(Boolean).join('\\n');\r\n\r\nconst items = reps.map((to) => ({\r\n  json: {\r\n    wahaBaseUrl: src.wahaBaseUrl || cfg.wahaBaseUrl,\r\n    wahaApiKey: src.wahaApiKey || cfg.wahaApiKey,\r\n    _wahaSession: wahaSession,\r\n    _to: to.endsWith('@c.us') ? to : `${to}@c.us`,\r\n    _text: summary,\r\n    _leadId: leadId\r\n  }\r\n}));\r\n\r\nif (!crmOk && cfg.adminNotify) {\r\n  items.push({\r\n    json: {\r\n      wahaBaseUrl: src.wahaBaseUrl || cfg.wahaBaseUrl,\r\n      wahaApiKey: src.wahaApiKey || cfg.wahaApiKey,\r\n      _wahaSession: wahaSession,\r\n      _to: cfg.adminNotify.endsWith('@c.us') ? cfg.adminNotify : `${cfg.adminNotify}@c.us`,\r\n      _text: `⚠️ wabot: CRM save failed for ${lead.phone || lead.name || 'lead'}. Status=${src._crmStatus || 'n/a'}.`,\r\n      _leadId: null\r\n    }\r\n  });\r\n}\r\n\r\nreturn items;\r\n"
      }
    },
    {
      "id": "notify_send",
      "name": "Notify Sales Rep",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.wahaBaseUrl || $('Inject Env Config').first().json.wahaBaseUrl || '').replace(/\\/+$/, '') + '/api/sendText' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ String($json.wahaApiKey || $('Inject Env Config').first().json.wahaApiKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $json._wahaSession }}\",\n  \"chatId\": \"{{ $json._to }}\",\n  \"text\": {{ JSON.stringify($json._text) }}\n}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "aggregate_notify",
      "name": "Aggregate Notifications",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2140,
        380
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      }
    },
    {
      "id": "start_typing",
      "name": "Start Typing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2540,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.wahaBaseUrl || $('Inject Env Config').first().json.wahaBaseUrl || '').replace(/\\/+$/, '') + '/api/startTyping' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ String($json.wahaApiKey || $('Inject Env Config').first().json.wahaApiKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $('Has Lead?').item.json.wahaSession }}\",\n  \"chatId\": \"{{ $('Has Lead?').item.json.chatId }}\"\n}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "typing_wait",
      "name": "Wait (Typing)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        520
      ],
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 3) + 3 }}",
        "unit": "seconds"
      },
      "webhookId": "wabot-v3-typing-wait"
    },
    {
      "id": "stop_typing",
      "name": "Stop Typing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.wahaBaseUrl || $('Inject Env Config').first().json.wahaBaseUrl || '').replace(/\\/+$/, '') + '/api/stopTyping' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ String($json.wahaApiKey || $('Inject Env Config').first().json.wahaApiKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"{{ $('Has Lead?').item.json.wahaSession }}\",\n  \"chatId\": \"{{ $('Has Lead?').item.json.chatId }}\"\n}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "send_waha",
      "name": "Send WAHA Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.wahaBaseUrl || $('Inject Env Config').first().json.wahaBaseUrl || '').replace(/\\/+$/, '') + '/api/' + ($('Has Lead?').item.json._waEndpoint || 'sendText') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "={{ String($json.wahaApiKey || $('Inject Env Config').first().json.wahaApiKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Has Lead?').item.json._waPayload) }}",
        "options": {
          "timeout": 10000,
          "retry": {
            "maxTries": 2,
            "waitBetweenTries": 1000
          },
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      }
    },
    {
      "id": "log_inbound",
      "name": "Log Inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        720
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($json.backendUrl || $('Inject Env Config').first().json.backendUrl || '').replace(/\\/+$/, '') + '/api/crm/leads/whatsapp/messages/' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Bot-Key",
              "value": "={{ String($json.backendWaBotKey || $('Inject Env Config').first().json.backendWaBotKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $json.chatId }}\",\n  \"phone\": \"{{ $json.phoneNumber }}\",\n  \"direction\": \"in\",\n  \"body\": {{ JSON.stringify(($json.messageText && $json.messageText.length) ? $json.messageText : $json.interactiveId) }},\n  \"waha_msg_id\": \"{{ $json.msgId }}\",\n  \"step\": \"{{ ($json.session && $json.session.step) || '' }}\",\n  \"role\": \"{{ ($json.session && $json.session.role) || '' }}\"\n}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "log_outbound",
      "name": "Log Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        700
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ String($('Inject Env Config').first().json.backendUrl || '').replace(/\\/+$/, '') + '/api/crm/leads/whatsapp/messages/' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Bot-Key",
              "value": "={{ String($('Inject Env Config').first().json.backendWaBotKey || '') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $('Has Lead?').item.json.chatId }}\",\n  \"phone\": \"{{ $('Has Lead?').item.json.phoneNumber }}\",\n  \"direction\": \"out\",\n  \"body\": {{ JSON.stringify($('Has Lead?').item.json._waPayload.text || '') }},\n  \"step\": \"{{ $('Has Lead?').item.json._newSession.step }}\",\n  \"role\": \"{{ $('Has Lead?').item.json._newSession.role || '' }}\"\n}",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "save_session",
      "name": "Save Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3300,
        520
      ],
      "parameters": {
        "jsCode": "// ------------------------------------------------------------------\n// Persist the new session back into staticData.\n// Clears the _lockedAt mutex (item 2) so the next inbound from this\n// chatId is not falsely blocked.\n// ------------------------------------------------------------------\nconst src = $('Has Lead?').first().json;\nconst chatId = src.chatId;\nconst newSession = { ...src._newSession, _lockedAt: 0 };\nconst staticData = $getWorkflowStaticData('global');\nstaticData.sessions = staticData.sessions || {};\nstaticData.sessions[chatId] = newSession;\nreturn [{ json: { _saved: true, chatId, step: newSession.step, role: newSession.role } }];\n"
      }
    },
    {
      "id": "if_delegate_ai",
      "name": "Delegate to AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        460
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c-delegate",
              "leftValue": "={{ $json._delegateToOther }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "WAHA Webhook": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Ack 200 OK (Early)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack 200 OK (Early)": {
      "main": [
        [
          {
            "node": "Skip? (Group / Self / Non-message)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip? (Group / Self / Non-message)": {
      "main": [
        [
          {
            "node": "Drop Silently",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inject Env Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Env Config": {
      "main": [
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Check Bot State (CRM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Bot State (CRM)": {
      "main": [
        [
          {
            "node": "Apply Bot State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Bot State": {
      "main": [
        [
          {
            "node": "Normalize Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Step": {
      "main": [
        [
          {
            "node": "Route by Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Step": {
      "main": [
        [
          {
            "node": "Build Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Role Selection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parent FSM Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "School FSM Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opt-Out Ack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drop Silently",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other Agent Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-Out Ack": {
      "main": [
        [
          {
            "node": "Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Main Menu": {
      "main": [
        [
          {
            "node": "Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Role Selection": {
      "main": [
        [
          {
            "node": "Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parent FSM Handler": {
      "main": [
        [
          {
            "node": "Delegate to AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "School FSM Handler": {
      "main": [
        [
          {
            "node": "Delegate to AI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other Agent Prep": {
      "main": [
        [
          {
            "node": "Other Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq (Other)": {
      "ai_languageModel": [
        [
          {
            "node": "Other Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory (Other)": {
      "ai_memory": [
        [
          {
            "node": "Other Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: koderkids.pk": {
      "ai_tool": [
        [
          {
            "node": "Other Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: kodereduai.pk": {
      "ai_tool": [
        [
          {
            "node": "Other Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Other Agent": {
      "main": [
        [
          {
            "node": "Process Other Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Other Reply": {
      "main": [
        [
          {
            "node": "Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Lead?": {
      "main": [
        [
          {
            "node": "POST Lead to CRM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Lead to CRM": {
      "main": [
        [
          {
            "node": "Check CRM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CRM Response": {
      "main": [
        [
          {
            "node": "Build Sales Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sales Notifications": {
      "main": [
        [
          {
            "node": "Notify Sales Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Rep": {
      "main": [
        [
          {
            "node": "Aggregate Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Notifications": {
      "main": [
        [
          {
            "node": "Start Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Typing": {
      "main": [
        [
          {
            "node": "Wait (Typing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Typing)": {
      "main": [
        [
          {
            "node": "Stop Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Typing": {
      "main": [
        [
          {
            "node": "Send WAHA Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WAHA Reply": {
      "main": [
        [
          {
            "node": "Save Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Outbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delegate to AI?": {
      "main": [
        [
          {
            "node": "Other Agent Prep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "active": false,
  "tags": [
    "whatsapp",
    "waha",
    "koderkids",
    "sales",
    "v3"
  ],
  "meta": {
    "instanceId": "koderkids-wabot-v3"
  }
}
